.cart-container{
    background-color: cadetblue;
    font-size: 20px;
    padding-top: 160px;
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
}
h2{
    text-align: center;
}