.item-container{
    background-color:#fff;
    margin: auto;
    display: block;
    text-align: center;
    border: 2px solid var(--main-green);
    border-radius: 5px;

}
img{
    width: 100%;
}
h3{
    color:var(--main-green);
}
p{
    padding-top: 10px;
    text-align: center;
    color: var(--main-green);
}
.btn-add,
.btn-link{
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: var(--main-green);
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    margin: 4px;
}
button:hover{
    color: var(--main-yellow);
}
