/* NavBar */
.header{
    background-color:var(--main-green);
    width: 100%;
    position: fixed;
  }
  .header-nav{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .nav-logo img{
      width: 300px;
      position: absolute;
  }
  .header-nav ul{
    display: flex;
    justify-content: flex-end;
    border: dotted 1px #fff;
   }
  .header-nav ul li{
    border: dotted 1px rgb(238, 136, 136);
    padding: 10px;
    margin: 25px;
  }
  .header-nav ul li a{
    display: block;
    color:#fff
  }
  .header-nav ul li a:hover{
      color: var(--main-yellow) ;
  }