.list-product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items:center;
    align-items: center;
    z-index: 30;
    width: 100%;
    padding: 25px 0;
}